# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js build output
/.next/
/out/

# production
/build

# misc
.DS_Store
*.env
.env.local      # <-- Sangat penting untuk Next.js
.env.development.local
.env.test.local
.env.production.local
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnpm-store/

# Local env files
.env*.local

# log files
*.log
.yarn/
.pnpm/

# next-auth
.next-auth

# Prisma
*.sqlite
db.sqlite
*.db